# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
ordered list
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools |
|-------------------|
| Jupyter Notebooks |
| Github |
| Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

x =(3*4)+5
print(x)

17

In [12]:
#This will convert 200 minutes to hours by diving by 60

def minutes_to_hours(minutes):
    return minutes / 60
    
minutes = 200
hours = minutes_to_hours(minutes)
print(hours)

3.3333333333333335

## Author
Jenny